<section class="elementor-section elementor-top-section elementor-element elementor-element-7f45d34 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="7f45d34" data-element_type="section" data-settings="{&quot;sticky&quot;:&quot;top&quot;,&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0}">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-33d4e45" data-id="33d4e45" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-7710aa7 elementor-widget elementor-widget-image" data-id="7710aa7" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image">
                                    <a href="https://u-tad.com/en/">
                                    <img width="200" height="41" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20200%2041'%3E%3C/svg%3E" data-src="https://st1.u-tad.com/media/sites/2/2021/09/u-tad-logo-footer-en-200x41.png" class="attachment-thumbnail size-thumbnail lazy" alt="" loading="lazy" data-srcset="https://st1.u-tad.com/media/sites/2/2021/09/u-tad-logo-footer-en-200x41.png 200w, https://st1.u-tad.com/media/sites/2/2021/09/u-tad-logo-footer-en-300x61.png 300w, https://st1.u-tad.com/media/sites/2/2021/09/u-tad-logo-footer-en-1024x208.png 1024w, https://st1.u-tad.com/media/sites/2/2021/09/u-tad-logo-footer-en-768x156.png 768w, https://st1.u-tad.com/media/sites/2/2021/09/u-tad-logo-footer-en.png 1523w" data-sizes="(max-width: 200px) 100vw, 200px" />								</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6bfece5" data-id="6bfece5" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-dab8bb8 elementor-widget elementor-widget-image" data-id="dab8bb8" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image">
                                    <img width="300" height="38" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20300%2038'%3E%3C/svg%3E" data-src="https://st1.u-tad.com/media/sites/2/2021/09/logos-ministerios-camilo-footer-en-300x38.png" class="attachment-medium size-medium lazy" alt="" loading="lazy" data-srcset="https://st1.u-tad.com/media/sites/2/2021/09/logos-ministerios-camilo-footer-en-300x38.png 300w, https://st1.u-tad.com/media/sites/2/2021/09/logos-ministerios-camilo-footer-en-200x25.png 200w, https://st1.u-tad.com/media/sites/2/2021/09/logos-ministerios-camilo-footer-en.png 630w" data-sizes="(max-width: 300px) 100vw, 300px" />											</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4f15222" data-id="4f15222" data-element_type="column">
                    <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-widget-wrap">
                            <div class="elementor-element elementor-element-dc7bee8 elementor-shape-circle e-grid-align-right redes_sociales elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="dc7bee8" data-element_type="widget" data-widget_type="social-icons.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-social-icons-wrapper elementor-grid">
                                        <div class="elementor-grid-item">
                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-repeater-item-9879c83" href="https://twitter.com/U_tad" target="_blank" rel="nofollow">
                                            <span class="elementor-screen-only">Twitter</span>
                                            <i class="fab fa-twitter"></i>					</a>
                                        </div>
                                        <div class="elementor-grid-item">
                                            <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-repeater-item-6a55b45" href="https://es-es.facebook.com/utadcentrouniversitario" target="_blank" rel="nofollow">
                                            <span class="elementor-screen-only">Facebook</span>
                                            <i class="fab fa-facebook"></i>					</a>
                                        </div>
        <div class="elementor-grid-item">
    <a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-83bbc83" href="https://www.instagram.com/u_tad/" target="_blank" rel="nofollow">
    <span class="elementor-screen-only">Instagram</span>
    <i class="fab fa-instagram"></i>					</a>
    </div>
        <div class="elementor-grid-item">
    <a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-repeater-item-033df17" href="https://www.linkedin.com/school/u-tad/" target="_blank" rel="nofollow">
    <span class="elementor-screen-only">Linkedin</span>
    <i class="fab fa-linkedin"></i>					</a>
    </div>
        <div class="elementor-grid-item">
    <a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-b19f1c8" href="https://www.youtube.com/user/UniversidadUTAD" target="_blank" rel="nofollow">
    <span class="elementor-screen-only">Youtube</span>
    <i class="fab fa-youtube"></i>					</a>
    </div>
    </div>
    </div>
    </div>
    <div class="elementor-element elementor-element-a74bd86 elementor-widget elementor-widget-text-editor" data-id="a74bd86" data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
    <div class="elementor-text-editor elementor-clearfix"><p style="text-align: right"><span style="color: #b0b0b0"><a style="color: #b0b0b0;text-decoration: underline" href="https://u-tad.com/en/privacy-policy/">Privacy policy</a> | © U-tad 2021</span></p></div>
    </div>
    </div>
    </div>
    </div>
    </div>
            </div>
    </div>
</section>