<!DOCTYPE HTML> 
<html>
	<head>
		<title>Last page </title>
		<link rel="stylesheet" href="static/css/stylefooter.css">
	</head>
	<body>
		<div class="global">
			<div class="mitad">
					<h1>COMPANY DAY</h1><br>
					<p class="c">U-TAD TALENT </p>
					<p class="c">ACTIVITIES</p>
					<p class="c">PARTICIPANTS</p>			
					<p class="c">+ INFO</p><br><br>
					<p class="c">CONTACT</p>
			</div>
			
			<div class="smitad">
					<div class="logoUtad"></div>
					<p class="c2">University</p>
					<div class="camilo"></div>
					<p class="c2">Centre attached to</p>
					<div class="patro">
						<div class="patro1"></div> 
						<div class="patro2"></div>
						<div class="patro3"></div>
					</div>
					<p class="c2">Project financed by  <div class="financiado"></div></p>			
					<p class="c2" id="c2">Social media</p>
			</div>			
			<div class="footer">
				<div class="redSocial"> <a href="https://es-es.facebook.com/utadcentrouniversitario/" target="_blank" class="fa fa-facebook"></a> </div>
				<div class="redSocial2"> <a href="https://www.youtube.com/channel/UC179ukpiFWZSTGWjHLocA0A" target="_blank" class="fa fa-youtube"></a> </div>
				<div class="redSocial3"> <a href="https://www.instagram.com/u_tad/?hl=es" target="_blank" class="fa fa-instagram"></a> </div>
				<div class="redSocial4"> <a href="https://twitter.com/U_tad?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" class="fa fa-twitter"></a> </div>
				<div class="redSocial5"> <a href="https://es.linkedin.com/school/u-tad/" target="_blank" class="fa fa-linkedin"></a> </div>
				<div class="mail"> <p id="mail"> sdp@u-tad.com </p> </div>
				<div class="rigts"><p> All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
				  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
				   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
				Privacy policy | © U-tad 2022</p></div>
			</div>
		</div>
	</body>
 
</html>