<!DOCTYPE html>
<html>
	<head>
		<title>Company Day</title>
		<meta charset="utf-8">
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>
		<script
			  src="https://code.jquery.com/jquery-3.6.0.slim.js"
			  integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
			  crossorigin="anonymous">
    	</script>
	</head>
	<body>
		<div id="app">
			<p>[[paises]]</p>
			<datalist id="poblaciones">
				<div v-for="i in listaPaises">
					<div v-for="j in i.provincias">
						<div v-for="k in j.poblaciones">
							<option v-if="(!provinciaSeleccionada || provincia == k.nombreProvincia) && (!paisSeleccionado || pais == k.nombrePais)">[[k.nombre]]</option>
						</div>
					</div>
				</div>
			</datalist>
			<datalist id="provincias">
				<div v-for="i in listaPaises">
					<div v-for="j in i.provincias">
						<option v-if="!paisSeleccionado || pais == j.nombrePais">[[j.nombre]]</option>
					</div>
				</div>
			</datalist>
			<datalist id="paises">
				<div v-for="i in listaPaises">
					<option>[[i.nombre]]</option>
				</div>
			</datalist>

			Pais: <input list="paises" name="pais" v-model="pais" @keydown="trigger" @input="cambioPais"><br/><br/>
			Provincia: <input list="provincias" name="provincia" v-model="provincia" @keydown="trigger" @input="cambioProvincia"><br/><br/>
			Población: <input list="poblaciones" name="poblacion" v-model="poblacion" @keydown="trigger" @input="cambioPoblacion"><br/><br/>

			<button @click="debug">DEBUG</button><br/><br/>
			<!-- <div class="rowCarousel">
				<div class="container">
				  <section class="logo-carousel slider" data-arrows="true">
					<div class="slide" v-for="empresa in empresas"><a :href="empresa.web" target="_blank"><img :src="empresa.logo_url"></a></div>
					<div class="slide"><a href="https://www.bbva.es/personas.html" target="_blank"><img src="static/bbva.jpg"></a></div>
					<div class="slide"><a href="https://www.king.com/es" target="_blank"><img src="static/king.png"></a></div>
					<div class="slide"><a href="https://www.ericsson.com/en" target="_blank"><img src="static/ericsson.jpg"></a></div>
					<div class="slide"><a href="https://www.elcorteingles.es/" target="_blank"><img src="static/elCorteIngles.png"></a></div>
					<div class="slide"><a href="https://skydance.com/" target="_blank"><img src="static/skydance.png"></a></div>
					<div class="slide"><a href="https://www.tequilaworks.com/" target="_blank"><img src="static/tequila.jpg"></a></div>
					<div class="slide"><a href="https://www.ibm.com/es-es" target="_blank"><img src="static/ibm.png"></a></div>
				  </section>
				</div>
			</div>
			<br><br> -->
		</div> 
		<script src="static/js/index.js"></script>
	</body>
</html>