<!DOCTYPE HTML> 
<html>
<head>
    <title>Company Day </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <!--jQuery-->
    <script
			  src="https://code.jquery.com/jquery-3.6.0.slim.js"
			  integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
			  crossorigin="anonymous">
    </script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Slick Slider CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- jQuery first, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Slick Slider JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="botonInscripcion">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Inscripcion</button>
    </div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form  action="/registered" method="post">
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Nombre de la empresa:</label>
                <input type="text" name='nombre' class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Persona de contacto</label>
                <input type="text" name='nombre_persona_contacto' class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Email de empresa</label>
                <input type="text" name='email' class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Telefono de contacto</label>
                <input type="text" name='telefono' class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Direccion</label>
                <input type="text" name='direccion' class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Poblacion</label>
                <input type="text" name='poblacion' class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Provincia</label>
                <input type="text" name='provicia' class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Codigo postal</label>
                <input type="text" name='codigo_postal' class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Pais</label>
                <input type="text" name='pais' class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Url website</label>
                <input type="text" name='web' class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Logo de empresa</label>
                <input type="file" name='logo_url' class="form-control" id="recipient-name">
              </div>
              <label for="message-text" class="col-form-label">Consentimiento del uso del nombre</label><br>
              <input type="radio" name="consentimiento_uso_nombre" value="si">
              <label for="html">si</label><br>
              <input type="radio" name="consentimiento_uso_nombre" value="no">
              <label for="css">no</label><br>
              <label for="message-text" class="col-form-label">Busqueda de candidatos</label><br>
              <input type="radio" name="busqueda_candidatos" value="si">
              <label for="html">si</label><br>
              <input type="radio" name="busqueda_candidatos" value="no">
              <label for="css">no</label><br>
              <label for="cbox2">Presentacion proyectos</label>
              <label for="message-text" class="col-form-label">Actividades</label><br>
              <input type="checkbox" name="feria_empresas" value="value1"> <label for="cbox2" id="actividad1">Feria de empresas</label>
              <input type="checkbox" name="presentacion" value="value2"> <label for="cbox2">Presentacion proyectos</label><br>
              <input type="checkbox" name="speed_meetings" value="value3"> <label for="cbox2"  id="actividad2">Speed Meetings</label>
              <input type="checkbox" name="charlas" value="value4"> <label for="cbox2">Charlas</label>
              <hr>
              <div class="mb-3">

                <label for="message-text" class="col-form-label">Presentacion proyectos</label>
                <hr>
                <label for="message-text" class="col-form-label">Modalidad</label><br>
                <input type="radio" name="modalidad_presentacion" value="online">
                <label>online</label><br>
                <input type="radio" name="modalidad_presentacion" value="presencial">
                <label>presencial</label><br><br>
                <input type="checkbox" name="animacion" value="value2"> <label for="cbox2">animacion</label><br>
                <input type="checkbox" name="videojuegos" value="value2"> <label for="cbox2">videojuegos</label><br>
                <input type="checkbox" name="ingenieria" value="value2"> <label for="cbox2">ingeieria</label><br>
                <input type="checkbox" name="disenio" value="value2"> <label for="cbox2">diseño</label><br>
                <hr>
              </div>
              <div class="mb-3">

                <label for="message-text" class="col-form-label">Speed Meetings</label>
                <hr>
                <label for="message-text" class="col-form-label">Modalidad</label><br><br>
                <input type="radio" name="modalidad_presentacion" value="online">
                <label>online</label><br>
                <input type="radio" name="modalidad_presentacion" value="presencial">
                <label>presencial</label><br><br>
                <input type="date" id="start" name="fecha_speed_meeting"
                value="2018-07-22"
                min="2022-09-18" max="2022-09-23">
                <br>
                <br>
                <!--<label for="date" class="col-sm-1 col-form-label">Date</label>
                <div class="col-sm-4">
                    <div class="input-group date" id="datepicker">
                        <input type="text" class="form-control">
                        <span class="input-group-append"> 
                            <span class="input-group-text bg-white">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                    </div>
                </div>-->
              <label for="cars">Duracion de la entrevista</label>

              <select id="cars" name="duracion">
                <option value="volvo">10 mins</option>
                <option value="saab">15 mins</option>
                <option value="opel">20 mins</option>
                <option value="opel">25 mins</option>
              </select><br><br>
              <label for="w3review">Explique que oferta de empleo esta buscando</label>
              <textarea id="w3review" name="descripcion_speed_meeting" rows="4" cols="50"></textarea>
              <hr>
              </div>
              <div class="mb-3">

                <label for="message-text" class="col-form-label">Charlas</label>
                <hr>
                <label for="message-text" class="col-form-label">Modalidad</label><br><br><br>
                <input type="radio" name="modalidad_charlas" value="online">
                <label>online</label><br>
                <input type="radio" name="modalidad_charlas" value="presencial">
                <label>presencial</label><br><br>
                <label for="w3review">Titulo y descripcion</label>
                <textarea id="w3review" name="descripcion_charla" rows="2" cols="50"></textarea> <br> <br>
                <input type="date" id="start" name="fecha_charla"
                value="2018-07-22"
                min="2022-09-18" max="2022-09-23">
                <br>
                <br>
                <input type="time"  name="hora_charla" min="09:00" max="18:00"> <br> <br>
                <!--<label for="date" class="col-sm-1 col-form-label">Date</label>
                <div class="col-sm-4">
                    <div class="input-group date" id="datepicker">
                        <input type="text" class="form-control">
                        <span class="input-group-append">
                            <span class="input-group-text bg-white">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                    </div>
                </div>-->
              </div>

              <!--<form action="/" type="GET">
                <input type="checkbox" name="msg" value="hola"/>
                <input type="checkbox" name="msg" value="mundo"/>
                <input type="submit"/>
              </form>-->
          
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="$('form').submit();">Send message</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
    <div class="rowCarousel">
      <div class="container">
        <section class="logo-carousel slider" data-arrows="true">
          <div class="slide"><a href="https://www.rtve.es/" target="_blank"><img src="static/rtve.jpg"></a></div>
          <div class="slide"><a href="https://www.bbva.es/personas.html" target="_blank"><img src="static/bbva.jpg"></a></div>
          <div class="slide"><a href="https://www.king.com/es" target="_blank"><img src="static/king.png"></a></div>
          <div class="slide"><a href="https://www.ericsson.com/en" target="_blank"><img src="static/ericsson.jpg"></a></div>
          <div class="slide"><a href="https://www.elcorteingles.es/" target="_blank"><img src="static/elCorteIngles.png"></a></div>
          <div class="slide"><a href="https://skydance.com/" target="_blank"><img src="static/skydance.png"></a></div>
          <div class="slide"><a href="https://www.tequilaworks.com/" target="_blank"><img src="static/tequila.jpg"></a></div>
          <div class="slide"><a href="https://www.ibm.com/es-es" target="_blank"><img src="static/ibm.png"></a></div>
        </section>
      </div>
    </div>
    <script>
        $(document).ready(function() {
        $('.logo-carousel').slick({
          slidesToShow: 6,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 1000,
          arrows: true,
          dots: false,
          pauseOnHover: false,
          responsive: [{
            breakpoint: 768,
            settings: {
              slidesToShow: 4
            }
          }, {
            breakpoint: 520,
            settings: {
              slidesToShow: 2
            }
          }]
        });
      });

        /*var exampleModal = document.getElementById('exampleModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var recipient = button.getAttribute('data-bs-whatever')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        var modalTitle = exampleModal.querySelector('.modal-title')
        var modalBodyInput = exampleModal.querySelector('.modal-body input')

        modalTitle.textContent = 'DATOS A RELLENAR'
        modalBodyInput.value = ""
        })*/
       
    </script>
  
</body>
</html>