<!DOCTYPE HTML> 
<html>
<head>
    <title>Company Day</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <!--jQuery-->
    <script
			  src="https://code.jquery.com/jquery-3.6.0.slim.js"
			  integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
			  crossorigin="anonymous">
    </script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Slick Slider CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- jQuery first, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Slick Slider JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>
</head>
<body>
  {% include "header.html" %}
  <div id="app">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2" id="loginBoton">
      Login
    </button>
    <div class="botonInscripcion">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Inscripcion</button>
    </div>
    
    
    </div>
    <div class="rowCarousel">
      <div class="container">
        <section class="logo-carousel slider" data-arrows="true">
          <div class="slide"><a href="https://www.rtve.es/" target="_blank"><img src="static/rtve.jpg"></a></div>
          <div class="slide"><a href="https://www.bbva.es/personas.html" target="_blank"><img src="static/bbva.jpg"></a></div>
          <div class="slide"><a href="https://www.king.com/es" target="_blank"><img src="static/king.png"></a></div>
          <div class="slide"><a href="https://www.ericsson.com/en" target="_blank"><img src="static/ericsson.jpg"></a></div>
          <div class="slide"><a href="https://www.elcorteingles.es/" target="_blank"><img src="static/elCorteIngles.png"></a></div>
          <div class="slide"><a href="https://skydance.com/" target="_blank"><img src="static/skydance.png"></a></div>
          <div class="slide"><a href="https://www.tequilaworks.com/" target="_blank"><img src="static/tequila.jpg"></a></div>
          <div class="slide"><a href="https://www.ibm.com/es-es" target="_blank"><img src="static/ibm.png"></a></div>
        </section>
      </div>
    </div>
  </div>
  {% include "footer.html" %}
<!-- Modal Login -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form class="login-form" action="/login" method="post">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body col-sm">
          {{ form.email.label }}
          <br>
          {{ form.email }}
          <br>
          {{ form.password.label }}
          <br>
          {{ form.password }}
          <!---<label for="inputEmail" class="sr-only">Email Address</label>
          <input
            type="email"
            name="email"
            id="inputEmail"
            class="form-control mb-2"
            placeholder="Email address"
            required
            autofocus
          />
          <label for="inputPassword" class="sr-only">Password</label>
          <input
              type="password"
              name="password"
              id="inputPassword"
              class="form-control mb-2"
              placeholder="Password"
              required
          />
          <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me" /> Remember me
              </label>
            </div>
      </div>--->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
  </form>
</div>
<!--- Modal Register --->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data" action="/register">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Nombre de la empresa:</label>
              <input type="text" name='nombre' class="form-control" id="recipient-name"  maxlength="100">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Persona de contacto</label>
              <input type="text" name='nombre_persona_contacto' class="form-control" id="recipient-name"  maxlength="100">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Email de empresa</label>
              <input type="text" name='email' class="form-control" id="recipient-name"  maxlength="320">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Telefono de contacto</label>
              <input type="text" name='telefono' class="form-control" id="recipient-name"  maxlength="13">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Direccion</label>
              <input type="text" name='direccion' class="form-control" id="recipient-name"  maxlength="500">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Poblacion</label>
              <datalist id="poblaciones">
                <div v-for="i in listaPaises">
                  <div v-for="j in i.provincias">
                    <div v-for="k in j.poblaciones">
                      <option v-if="(!provinciaSeleccionada || provincia == k.nombreProvincia) && (!paisSeleccionado || pais == k.nombrePais)">[[k.nombre]]</option>
                    </div>
                  </div>
                </div>
              </datalist>
              <datalist id="provincias">
                <div v-for="i in listaPaises">
                  <div v-for="j in i.provincias">
                    <option v-if="!paisSeleccionado || pais == j.nombrePais">[[j.nombre]]</option>
                  </div>
                </div>
              </datalist>
              <datalist id="paises">
                <div v-for="i in listaPaises">
                  <option>[[i.nombre]]</option>
                </div>
              </datalist>
              <input list="poblaciones" name="poblacion" v-model="poblacion" @keydown="trigger" @input="cambioPoblacion">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Provincia</label>
              <input list="provincias" name="provincia" v-model="provincia" @keydown="trigger" @input="cambioProvincia">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Codigo postal</label>
              <input type="text" name='codigo_postal' class="form-control" id="recipient-name"  maxlength="10">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Pais</label>
              <input list="paises" name="pais" v-model="pais" @keydown="trigger" @input="cambioPais">
              
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Url website</label>
              <input type="text" name='web' class="form-control" id="recipient-name"  maxlength="200">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Logo de empresa</label>
              <input type="file" name='logo_url' class="form-control" id="recipient-name">
            </div>
            <label for="message-text" class="col-form-label">Consentimiento del uso del nombre</label><br>
            <input type="radio" name="consentimiento_uso_nombre" value="si" checked>
            <label for="html">si</label><br>
            <input type="radio" name="consentimiento_uso_nombre" value="no">
            <label for="css">no</label><br>
            <label for="message-text" class="col-form-label">Busqueda de candidatos</label><br>
            <input type="radio" name="buscando_candidatos" value="si" checked>
            <label for="html">si</label><br>
            <input type="radio" name="buscando_candidatos" value="no">
            <label for="css">no</label><br>
            <label for="cbox2">Presentacion proyectos</label>
           
            <label for="message-text" class="col-form-label">Actividades</label><br>
            <a href="#redirectFE"><input type="checkbox" name="feria_empresas" value="1" v-model="fEmpresas" id="redirectFE"> <label for="cbox2" id="actividad1">Feria de empresas</label></a>
            <a href="#redirectPP"><input type="checkbox" name="presentacion" value="2" v-model="pProyectos"> <label for="cbox2">Presentacion proyectos</label><br></a>
            <a href="#redirectSM"><input type="checkbox" name="speed_meetings" value="3" v-model="sMeetings"> <label for="cbox2"  id="actividad2">Speed Meetings</label></a>
            <a href="#redirectCC"><input type="checkbox" name="charlas" value="4" v-model="ccharla"> <label for="cbox2">Charlas</label></a>
            
            <hr>
            
            <div v-if="fEmpresas">
              
            </div>
            <div v-if="pProyectos">
              <div class="mb-3" id="redirectPP">
                <label for="message-text" class="col-form-label">Presentacion proyectos</label>
                <hr>
                <label for="message-text" class="col-form-label">Modalidad</label><br>
                <input type="radio" name="modalidad_presentacion" value="online">
                <label>online</label><br>
                <input type="radio" name="modalidad_presentacion" value="presencial"  checked>
                <label>presencial</label><br><br>
                <input type="checkbox" name="animacion" value="value2"> <label for="cbox2">animacion</label><br>
                <input type="checkbox" name="videojuegos" value="value2"> <label for="cbox2">videojuegos</label><br>
                <input type="checkbox" name="ingenieria" value="value2"> <label for="cbox2">ingeieria</label><br>
                <input type="checkbox" name="disenio" value="value2"> <label for="cbox2">diseño</label><br>
                <hr>
              </div>
            </div>
            <div v-if="sMeetings">
              <div class="mb-3" id="redirectSM">
                
                <label for="message-text" class="col-form-label">Speed Meetings</label>
                <br>
                <input type="hidden" name="numero_sesiones" :value="tasks.length">
                <div v-for="(task,index) in tasks">
                  <label for="message-text" class="col-form-label" >Modalidad</label>
                  <input type="radio" :name="'modalidad_speed_meeting_'+index" value="online" id="margenBox" v-model="task.modalidad">
                  <label>online</label>
                  <input type="radio" :name="'modalidad_speed_meeting_'+index" value="presencial" v-model="task.modalidad">
                  <label>presencial</label><br><br>
                  <input type="date" id="start" :name="'fecha_speed_meeting_'+index"
                  value="2018-07-22"
                  min="2022-09-18" max="2022-09-23" v-model="task.fecha">
        
                  <label for="cars" id="margenBox2">Duracion de la entrevista</label>
        
                  <select id="cars" :name="'duracion_'+index" v-model="task.tiempo">
                  <option value="10">10 mins</option>
                  <option value="15">15 mins</option>
                  <option value="20">20 mins</option>
                  <option value="25">25 mins</option>
                  </select>
                  <button @click="deleteSpeedM(task)" class="btn btn-danger" id="margenBox2" v-if="index>0">X</button><br><br>
                  <label for="w3review">Explique que oferta de empleo esta buscando</label><br><br>
                  <textarea id="w3review" :name="'descripcion_speed_meeting_'+index" rows="2" cols="40"  maxlength="500" v-model="task.descripcion"></textarea><br><br>
                </div>
                <a href="#addSpeedM"><button @click="addSpeedM" class="btn btn-success" id="addSpeedM">+</button></a>
                
              </div>
            </div>
            <div v-if="ccharla">
              <div class="mb-3" id="redirectCC">
                <label for="message-text" class="col-form-label">Charlas</label>
                <hr>
                <label for="message-text" class="col-form-label">Modalidad</label><br><br><br>
                <input type="radio" name="modalidad_charlas" value="online">
                <label>online</label><br>
                <input type="radio" name="modalidad_charlas" value="presencial" checked>
                <label>presencial</label><br><br>
                <label for="w3review">Titulo y descripcion</label><br>
                <textarea id="w3review" name="descripcion_charla" rows="2" cols="50"></textarea> <br> <br>
                <input type="date" id="start" name="fecha_charla"
                value="2018-07-22"
                min="2022-09-18" max="2022-09-23">
                <br>
                <br>
                <input type="time"  name="hora_charla" min="09:00" max="18:00"> <br> <br>
              </div>
            </div>
            
     
        
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" onclick="$('form').submit();">Send message</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
</div>


 
    <script>
        const urlbase = "http://127.0.0.1:5000/"
        $(document).ready(function() {
        $('.logo-carousel').slick({
          slidesToShow: 6,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 1000,
          arrows: true,
          dots: false,
          pauseOnHover: false,
          responsive: [{
            breakpoint: 768,
            settings: {
              slidesToShow: 4
            }
          }, {
            breakpoint: 520,
            settings: {
              slidesToShow: 2
            }
          }]
        });
      });

        /*var exampleModal = document.getElementById('exampleModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var recipient = button.getAttribute('data-bs-whatever')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        var modalTitle = exampleModal.querySelector('.modal-title')
        var modalBodyInput = exampleModal.querySelector('.modal-body input')

        modalTitle.textContent = 'DATOS A RELLENAR'
        modalBodyInput.value = ""
        })*/
      
        const app=new Vue({
            el: '#app',
            delimiters:["[[","]]"],
            data: {
              pProyectos:"",
              sMeetings: "",
              ccharla:"",
              fEmpresas:"",
              // loginState:"",
              tasks:[
                {
                  modalidad:"online",
                  fecha:"2018-07-22",
                  tiempo:"10",
                  descripcion:""
                }
              ],
              logindata: {
                email: "",
                password: "",
                remember: ""
              },
              listaPaises: [],
              paises: {},
              provincias: {},
              poblaciones: {},
              pais: "",
              provincia: "",
              poblacion: "",
              eventoCambio: false,
              paisSeleccionado: false,
              provinciaSeleccionada: false,
              poblacionSeleccionada: false
            },
            mounted: function(){
                this.$http.get(urlbase + "user/getpaises").then(
                    function(response){
                        console.log("respuesta del servidor: "+JSON.stringify(response.data));
                        this.listaPaises = response.data.paises;
                        for (i in response.data.paises){
                            this.paises[response.data.paises[i].nombre] = i;
                            
                            for (j in response.data.paises[i].provincias){
                                this.provincias[response.data.paises[i].provincias[j].nombre] = [i,j];
                                for (k in response.data.paises[i].provincias[j].poblaciones){
                                    this.poblaciones[response.data.paises[i].provincias[j].poblaciones[k].nombre] = [i,j,k];
                                }
                            }
                        }
                    }
                )
                this.$http.get(urlbase + "user/getempresas").then(
                    function(response){
                        console.log("respuesta del servidor: "+JSON.stringify(response.data));
                        this.empresas = response.data.empresas;
                    }
                )
                this.$http.get(urlbase + "session/status").then(
                    function(response){
                        console.log("Bienvenido "+JSON.stringify(response.data));
                        this.empresas = response.data.empresas;
                    }
                )
            },
            
            methods:{
              comprobar:function(){console.log(this.pProyectos)},
              // checkLoginState: function(){
            // Hace falta envio de 'state' por api flask para comprobar errores

              // },
              addSpeedM: function(){
              //e.preventDefault();
              this.tasks.push({
                modalidad:"online",
                fecha:"2018-07-22",
                tiempo:"10",
                descripcion:""
              });
              },
              deleteSpeedM: function(task){
                this.tasks.splice(this.tasks.indexOf(task),1)
              },
              debug: function(){
                  console.log("el pais esta: " + this.paisSeleccionado);
                  console.log("la provincia esta: " + this.provinciaSeleccionada);
                  console.log("la poblacion esta: " + this.poblacionSeleccionada);
                  console.log(this.paises);
                  console.log(this.provincias);
                  console.log(this.poblaciones);
              },
              trigger: function(e){
                  this.eventoCambio = e.key ? false : true;
              },
              cambioPais: function(){
                  this.paisSeleccionado = this.eventoCambio;

                  if (!this.eventoCambio) return;
                  
                  console.log(this.pais);
                  // $("input[name='provincia']").val("");
                  // $("input[name='poblacion']").val("");
                  this.provincia = "";
                  this.poblacion = "";
                  this.provinciaSeleccionada = false;
                  this.poblacionSeleccionada = false;
                  
              },
              cambioProvincia: function(){
                  this.provinciaSeleccionada = this.eventoCambio;
                  
                  if (!this.eventoCambio) return;

                  // $("input[name='poblacion']").val("");

                  let indices = this.provincias[this.provincia];
                  console.log(indices);
                  // $("input[name='pais']").val(this.listaPaises[indices[0]].nombre);
                  this.pais = this.listaPaises[indices[0]].nombre;
                  this.poblacion = "";
                  this.poblacionSeleccionada = false
                  this.paisSeleccionado = true;
              },
              cambioPoblacion: function(){
                  this.poblacionSeleccionada = this.eventoCambio;

                  if (!this.eventoCambio) return;

                  let indices = this.poblaciones[this.poblacion];
                  console.log(indices);
                  // $("input[name='pais']").val(this.listaPaises[indices[0]].nombre);
                  // $("input[name='provincia']").val(this.listaPaises[indices[0]].provincias[indices[1]]);
                  this.pais = this.listaPaises[indices[0]].nombre;
                  this.provincia = this.listaPaises[indices[0]].provincias[indices[1]].nombre;
                  this.paisSeleccionado = true;
                  this.provinciaSeleccionada = true;
              },
              login: function(){
                const path = 'http://127.0.0.1/login'
                axios.post(path, {
                  email: this.data.logindata.email,
                  password: this.data.logindata.password,
                  remember: this.data.logindata.remember
                })
                  .then(response => {
                    console.log(response)
                  })
                  .catch(err => {
                    console.log(err)
                  });
              }
            }
        });

       /* const appDos= new Vue({
          el:"#appDos",
          data:{

            tasks:[
              {
                modalidad:"online",
                fecha:"2018-07-22",
                tiempo:"10",
                descripcion:""
              }
            ]

          },
          methods:{
            addSpeedM: function(){
              //e.preventDefault();
              this.tasks.push({
                modalidad:"online",
                fecha:"2018-07-22",
                tiempo:"10",
                descripcion:""
              });
            },
            deleteSpeedM: function(task){
              this.tasks.splice(this.tasks.indexOf(task),1)
            }
          }



      });*/
        

   
    </script>
  
</body>
<script src="static/js/index.js"></script>
</html>

