<!-- {% for pais in paises %}
    {% for provincia in pais.provincias %}
        {% for poblacion in provincia.poblaciones %}
            <p>{{poblacion.nombre}}</p>
        {% endfor %}
    {% endfor %}
{% endfor %}
<form action="/prueba2" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">Enviar</button>
</form> -->
<form action="/changedata" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="1">
    <input type="text" placeholder="nombre" name="nombre">
    <input type="text" placeholder="nombre_persona_contacto" name="nombre_persona_contacto">
    <input type="text" placeholder="telefono" name="telefono">
    <input type="text" placeholder="direccion" name="direccion">
    <input type="file" placeholder="logo_url" name="logo_url">
    <button type="submit">Guardar</button>
</form>